<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.tutorialspoint.onlineviewer" version = "1.0">
   
   <name>StopWatch</name>
   
   <description>
      PhoneGap Test Project
   </description>
   
   <author href = "none" email = "none">
      yuraloga
   </author>
   
   <preference name = "permissions" value = "none"/>
   
   <icon src = "res/icon/android/drawable-ldpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
   <icon src = "res/icon/android/drawable-hdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "hdpi" />
   <icon src = "res/icon/android/drawable-mdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "mdpi" />
   <icon src = "res/icon/android/drawable-xhdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "xhdpi" />
   <icon src = "res/icon/android/drawable-xxhdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "xxhdpi" />
   <icon src = "res/icon/android/drawable-xxxhdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "xxxhdpi" />
		
   <icon src = "res/icon/ios/Icon-72.png" gap:platform = "ios" gap:qualifier = ""/>
   <icon src = "res/icon/ios/Icon-60.png" gap:platform = "ios" width = "60" height = "60" />
   <icon src = "res/icon/ios/Icon-40.png" gap:platform = "ios" width = "40" height = "40" />
   <icon src = "res/icon/ios/Icon-76.png" gap:platform = "ios" width = "76" height = "76" />
   
</widget>
